extends layout

block content
  h1= title
  p Welcome to #{title}

  // Wrapper
  #wrapper
  
      // Accounts List
      h2 Current Accounts

      #accountslist
          table
              thead
                  th Last Order Date
                  th Store
                  th Manager
                  th Manager Contact
                  th Store Phone
              tbody

      // Orders List
      h2 Recent Orders

      #orderslist
          table
              thead
                  th Order Date
                  th Store
                  th RBC
                  th Sweet Pot
                  th Breakfast
                  th Masala
                  th Green Chile
                  th GC Tofu
                  th Thai
                  th Apple
              tbody

